
.Card{
	height: 60vh;
	width: 40vw;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
}

.HeaderImg{
	height: 55%;
	background-image: url("./nasa.jpg");
	
}

div#HeaderImg input{
	display : "flex";
	padding-top: 30px;
    align-items : "flex-end";
    justify-content : "center";
}

.Text-Title{
	font-size: 30px;
	font-weight: 500;
}

.Image{
	width: 100%;
	height: 100%;
}

.Text{
	padding: 20px;
}