/* To set default size of fonts 100% */
html {
	font-size: 100%;
}

/* Whole card as a component css properties */
.card {
	margin: auto;
	margin-top: 5%;
	width: fit-content;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 2rem 0.5rem;
	border-radius: 1rem;
}

/* Properties of Div for header image. flex-direction row makes the headerImg and text divs flex in rows(one on top of another */
.headerImg {
	min-height: 250px;
	border-radius: 1rem 1rem 0 0;
	background-image: url("./nasa.jpg");
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: left;
}

/* properties for follow button */
button {
	padding: 0.3rem 2rem;
	width: 10rem;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 0.8rem 0 0.8rem 0;
}

/* properties of button when hovered */
button:hover {
	padding: 0.3rem 2rem;
	width: 10rem;
	font-weight: bold;
	background-color: #03b7c1;
	border: 0.3rem solid #037398;
	box-shadow: 0 0.3rem 1.5rem #037398;
	color: #036383;
	border-radius: 0.8rem 0 0.8rem 0;
	transform: scale(1.07);
}

/* properties of button when in unfollowed state */
.btnUnfollow {
	background-color: #fae3bb;
	border: 0.3rem solid #c98474;
	box-shadow: 0 0.3rem 1.5rem #c98474;
	color: #c98474;
}

/* properties of button when in followed state */
.btnFollow {
	background-color: #f1948a;
	border: 0.3rem solid #e74c3c;
	box-shadow: 0 0.3rem 1.5rem #e74c3c;
	color: #e74c3c;
}

/* properties of button div */
.button {
	height: 4rem;
}

/* properties of img div which is child of headerImg div in div tag. translateY makes it go down a little by 50% */
div.headerImg > img {
	height: 27%;
	width: 27%;
	transform: translateY(50%);
}

/* properties of textTitle div */
.textTitle {
	font-size: 2rem;
	font-weight: 500;
	align-self: start;
}

/* properties of image div. Padding kept 2 to keep the DP slighly away from left border */
.image {
	padding-left: 2rem;
}

/* properties of text div. align-items kept flex-end to keep the follow button on the right side */
.text {
	padding: 3rem;
	display: flex;
	font-size: 1rem;
	flex-direction: column;
	align-items: flex-end;
	align-self: start;
}

/* properties of footer text*/
.footer {
	font-size: 0.9rem;
	font-weight: 400;
}

/* To make the color of hashtags blue */
.blue {
	color: blue;
}

@media (max-width: 998px) {
	html {
		font-size: 85%;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 75%;
	}
}

@media screen and (max-width: 500px) {
	.Card {
		margin: 1.5rem;
	}
}
