
.Card{
	height: auto;
	width: 40vw;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
}

.HeaderImg{
	min-height: 250px;
	background-image: url("./nasa.jpg");
	display : flex;
	flex-direction: row;
	align-items : flex-end;
    justify-content : left;
	border: 1px solid crimson;
}

div#HeaderImg input{
	transform : translateY(50%);
}

.Text-Title{
	font-size: 30px;
	font-weight: 500;
}

.Image{
	padding-left: 20px;
	transform : translateY(50%);
}

.Text{
	padding: 20px;
}